.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  // background-color: #f6f6f6;
  // background-color: #eeeaf9;
  .createEventButton {
    position: fixed;
    bottom: 0;
    width: 4rem;
    height: 4rem;
    right: 0;
  }
}
