<<<<<<< HEAD
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
=======
// * {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-around;
// }
>>>>>>> 7d8790f0646d6bc1bda36c807643399236f25177
