.container {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 'start leftmid rightmid end';
  width: 100vw;
  height: 3.2rem;
  background-color: #4d2dc1;
  img {
    justify-self: center;
    width: 5rem;
    height: 2.5rem;
    color: #fff;
  }
}
