.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100vw;
  height: 3.2rem;
  background-color: #6b5fff;
  img {
    justify-self: center;
    width: 5rem;
    height: 3rem;
  }
}
